:root {
  /* Colors */
  --color-primary: #eb6129;
  --color-white: #ffffff;
}

:root {
  /* Font */
  --font-pretendard:
    "Pretendard", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica Neue, Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

:root {
  /* Layout */
  --header-height: 40px;
  --sidebar-agent-width: 49px;
  --sidebar-workspace-width: 240px;
  --sidebar-width: 280px;
  --pannel-width: 325px;
  --max-content-width: 800px;
  --layout-border-color: #e4e4e4;
}

:root {
  /* Textfield */
  --textfield-border-color: #e0e0e0;
  --textfield-font-color: #1a1a1a;
  --textfield-placeholder-color: #aaaaaa;
}

:root {
  /* ETC */
  --disabled-opacity: 0.5;
}
